.padding i {
  padding: 10px;
}
td.action {
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}
th.action {
  width: 100px;
  text-align: center;
}
th.center {
  text-align: center;
  width: 50px;
}
.left select#exampleCustomSelect {
  width: 62px;
  /* margin-left: 8px; */
} 
.left {
  text-align: right !important;
} 
.badge-success {
  color: #fff;
  background-color: #4dbd74;
  font-size: small;
}
.badge-danger {
  color: #fff;
  background-color: #f86c6b;
  font-size: small;
}
.pagination{
  margin: 10px auto !important;
  cursor: pointer;
}

.pagination .page-item .page-link{
  background-color: #fff !important;
  color:  #007bff !important;
  border: 1px solid #dee2e6 !important;
  padding: .5rem .75rem !important;
  font-weight: bold !important;
}

.pagination .page-item .page-link:hover {
  background-color: #e9ecef !important;
}

.pagination .active .page-link {
  background-color: #007bff !important;
  color: #fff !important;
  border: 1px solid #dee2e6 !important;
  padding: .5rem .75rem !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
}
.pagination .active .page-link:hover {
  background-color: #e9ecef !important;
  color: #007bff !important;
}
.space {
  display: flex;
  padding: 10px;
}
.space i {

  padding: 10px;
}
.lt select#exampleCustomSelect {
  width: 80px;
}
.lt {
text-align: end;
}
.lt span {
padding: 9px !important;
}
.table td {
  /* padding: 0.75rem; */
  /* vertical-align: top; */
  border-top: 1px solid #c8ced3;
  cursor: pointer;
}

.center .form-check-input {
position: unset !important; 
margin-top: 0px !important;
margin-left: 0px !important;
}

.centers .form-check-input{
position: inherit !important;
margin-top: 0 !important;
margin-left: 0 !important;
}

/* .react-switch-handle {
height: 20px !important;
  width: 22px !important;
  background: rgb(255, 255, 255);
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  transform: translateX(1px);
  top: 4px !important;
  outline: 0px;
  border: 0px;
  transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
} */

.custom-switch .react-switch-handle {
height: 11px!important;
width: 11px!important;
background: #fff;
display: inline-block;
cursor: pointer;
border-radius: 50%;
position: absolute;
transform: translateX(1px);
top: 6px!important;
right: 34px;
outline: 0;
border: 0;
transition: background-color .25s ease 0s,transform .25s ease 0s,box-shadow .15s ease 0s;
}

/* .react-switch-bg{
height: 29px !important;
  width: 50px !important;
  margin: 0px;
  position: relative;
  background: rgb(136, 136, 136);
  border-radius: 14px;
  cursor: pointer;
} */

.custom-switch .react-switch-bg {
height: 23px !important;
width: 50px !important;
margin: 0;
position: relative;
background: #888;
border-radius: 14px;
cursor: pointer;
}

.custom-switch .react-switch-bg>div {
  height: 20px !important;
  width: 20px !important;
  position: relative;
  vertical-align: middle;
  opacity: 1;
  pointer-events: none;
  margin: auto 0;
  transition: opacity 0.25s ease 0s;
  top: 1px !important;
  /* left: 2px !important; */
}
.custom-switch.active .react-switch-bg>div {
  height: 20px !important;
  width: 20px !important;
  position: relative;
  vertical-align: middle;
  opacity: 1;
  pointer-events: none;
  margin: auto 0;
  transition: opacity 0.25s ease 0s;
  top: 2px !important;
  left: 2px !important;
}

.img-nt{
width: 50px;
}
.table_responsive {
display: table;
}
@media screen and (max-width: 768px) {
.table_responsive {
  display: block !important;
  overflow: hidden;
  overflow-x: scroll;
}
}
.table_responsive2 {
display: table;
}
@media screen and (max-width: 619px) {
.table_responsive2 {
  display: block !important;
  overflow: hidden;
  overflow-x: scroll;
}
}
@media screen and (max-width: 1200px) {
.btn-group button {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}
}

@media screen and (max-width: 992px) {
.table_Inresponsive {
  display: inline-block;
  overflow: hidden;
  overflow-x: scroll;
}
.btn-group button {
  margin-left: 5px !important;
  margin-bottom: 5px !important;
}
}

img.avatar-img {
width: 50px !important;
height: 50px;
border-radius: 10px;
}

td.name p , td.package p{
white-space: nowrap; 
width: 170px !important; 
overflow: hidden;
text-overflow: ellipsis; 
}

.btn-theme{
display: block;
}

td.action i {
padding: 6px !important;
}

.table tbody tr td:first-child, .table thead tr th:first-child {
width: 100px !important;
text-align: center;
}

.fa-lg {
font-size: 25px !important;
line-height: .75em;
vertical-align: -15%;
}

.right{
  text-align: right;
}

.padding{
  display: flex;
}