.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.custom_text_width {
    width: 20% !important;
}
.r-per-page{
    width: 182px !important;
}
@media(max-width:400px){
    .filter{
      display: block;
    }
    .custom_text_width {
        width: 100% !important;
    }
    .bottom_text{
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 768px) {

      .userClass {
          display: block !important;
          overflow: hidden;
          overflow-x: scroll;
      }

      .filter{
        display: block;
        text-align: center;
        padding-top: 20px;
      }
      .custom-select {
        margin-bottom: 15px;
      }
      .pagination {
        justify-content: center;
        
      }
      .right, .card-title {
        text-align: center;
    }
  }
  @media(max-width:1024px){
    .custom_text_width {
        width: 100% !important;
    }
    .bottom_text{
        margin-right: 10px;
    }
  }

  .centers {
      text-align: center;
  }