.percentage{
    background-color: green;
    padding: 9px;
    border-radius: 10px;
    color: #fff;
    margin-left: 20px;
}

.genrate{
    position: relative;
}

.c-code{
    position: absolute;
    top: 10px;
    right: 17px;
}